<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mango.MangoDict" android:versionCode="1" android:versionName="1.0.5">
	<uses-sdk android:minSdkVersion="4" />
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="false">
		<activity android:name="MangoDictActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".WordsListActivity" android:exported="false" />
		<activity android:name="DictSettingTabActivity" android:exported="false" />
		<activity android:name=".DictSettingActivity"
			android:exported="false" />
		<activity android:name=".DictSelectActivity"
			android:exported="false" />
		<activity android:name=".PathSelectActivity" android:theme="@android:style/Theme.Dialog"
			android:exported="false" />
		<activity android:name=".WordRecordActivity" android:theme="@android:style/Theme.Dialog"
			android:exported="false" />


		<activity android:name="MemorizeActivity" android:label="@string/memorize_name"
			android:icon="@drawable/icon_m">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".MemorizeSettingActivity"
			android:theme="@android:style/Theme.Dialog" android:exported="false" />
		<activity android:name=".MemorizeSelectActivity"
			android:theme="@android:style/Theme.Dialog" android:exported="false" />
		<activity android:name=".MemorizeScheduleActivity"
			android:label="@string/memorize" android:exported="false" />
		<activity android:name=".MemorizeStatisticActivity"
			android:label="@string/memorize" android:exported="false" />

		<service android:enabled="true" android:name=".MangoDictService" />

		<receiver android:name=".MangoDictReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

	</application>
</manifest>